<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Games CRUD App</title>

    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <header>
        <h1>Video Games Crud App</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/new-game">New Game</a>
    </nav>

    <main>
        {{{body}}}
    </main>
    
    <footer>
        Copyright 2020
    </footer>
</body>
</html>